body {
	margin: 0;
	 background-color: #FFFFFF;
	 background-image:url(../images/woodtexture.jpg);

}

.header {
	padding: 50px 0 !important;
	
	text-align: center !important;	
	background: transparent url('../images/captjamesdesign_0025_beach.png') left top no-repeat!important;
	background-size: cover !important;
	
}

.content {
	background: #A2C5E9;
	border-radius: 0%; 
	text-align:center;
	min-width: 300px;
	border-left-style:double;
	border-right-style:double;
	
}




.menu {
	padding: 50px;	
}


.menu-section {
	border: 20px solid black;
	background-image:url(../images/captjamesdesign_0017_papermenu-right.png);
	

}
	
	.intro {font-family: 'Gloria Hallelujah', cursive;
			 font-size:30px;
			 text-align: center;
			 background-color: #1782E1;}
			 
			 
	
a.navlistitem {padding-left: 20px;
				padding-right: 20px;
				text-decoration:none;
				color:#000000;
				 }
	
a.navlistitem:hover {		color:#FFFFFF;
							transition:0.4s ease-in-out;
							text-shadow: 0 0 10px #FFFFFF; 
							 }	 
	
/* Tags And Elements */
p { font-family: 'Gloria Hallelujah', cursive;
	 font-size: 35px;
	 text-shadow: 2px 2px 2px #aaa;
	 text-align:center
	  }
	   
	  
body { 
	font-family: "arial", serif;
	
}

a{}

 #menuintro { text-align:center; }
 
 h2.subtitle { margin-bottom: -5px; }
 
 h4#intro {  margin-top: 39px;
  margin-bottom: 82px;
  text-align: center;
  text-overflow: clip;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
  font-size: 20px;
  margin-right: 122px;
  margin-left: 119px;
  border-radius: 10%;
  padding: 3%;
  background-color: #A2C5E9;
  border-style:dashed;
			
 }
 
h3.hourstitle { text-align:center;
				  font-family: 'Gloria Hallelujah', cursive;
				 }
h3.phonetitle { text-align:center;
				  font-family: 'Gloria Hallelujah', cursive;
}

h5.infotext { font-family: "arial", serif;
				text-align:center;
				font-size:18px;
				
}

h2.contactheader { text-align:center;
font-size:35px;

}

h1 { font-family: 'Gloria Hallelujah', cursive;
	font-size:70px; 
	text-align:center;
	}


h2 {
	text-align:center;
	font-family: 'Gloria Hallelujah', cursive;
}


h5 { font-family: 'Gloria Hallelujah', cursive;
	text-align: center; 
}


#intro
h6 { font-family: font-family: 'Gloria Hallelujah', cursive;
		text-align: center;
}

#menu #menu first course
{ text-align:left;
}

.join_us { font-family: 'Gloria Hallelujah', cursive;
}



ul.icons { text-align:center;
			background-color: black; 
			text-shadow: 10px #FFFFFF;
			}
			
ul.icons:hover { 	color:#FFFFFF;
					transition:1s ease-in-out;
					text-shadow: 0 0 80px #FFFFFF;
							
						
							
}

ul.site_nav {  font-family: 'Gloria Hallelujah', cursive;
				text-align:center; 
				background-color: #A2C5E9;
				border-radius: 0%; 
				text-align:center;
				min-width: 300px;
				padding-bottom: 50px;
				border-left-style:double;
	border-right-style:double;

}

#hours { text-align:center; 
				background-color: #A2C5E9;
				border-radius: 0%; 
				text-align:center;
				min-width: 300px;
				  padding-bottom: 35px;
  padding-top: 5px;
  border-left-style:double;
	border-right-style:double;
}

#location { text-align:center; 
				background-color: #A2C5E9;
				border-radius: 0%; 
				text-align:center;
				min-width: 300px;
				margin-top: -35px;
              margin-bottom: -30px;
			  border-left-style:double;
	border-right-style:double;
				
}

ol {}

li { font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;}


/* Repeating Components */

.course-list {}

.course-item {}

.course-heading{}

.menu-item {}

.menu-heading {}

.menu-desc {}

/* Unique Components or Unique Versions of Components */

.menu-item.menu-item-featured {
	
}


/*  Layout Structure */


/* Mobile Styes First */

.main-content {
	padding: 0 20px;
}

/* Bigger Sizes Next */

@media screen and (min-width: 600px) {
	.main-content { 
	padding: 0;
	background-color: pink;
	}
}

@media screen /* CSS Document */

